@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

:root {
    --color-header: blanchedalmond;
    --text-color: gray;
    --botao-hover: rgb(248, 67, 1);
    --botao-bg: coral;
}

.header-color {
    background-color: var(--color-header);
}

.logotipo {
    width: 200px;
    filter: drop-shadow(0 0 0.75rem rgb(77, 76, 76));
}

.button-header {
    display: flex;
    align-items: center;
    border-color: var(--text-color);
    color: var(--text-color) !important;
}

.button-header:hover>svg>.svg-icon {
    color: white !important;
}

.button-header:hover {
    color: white !important;
    background-color: var(--botao-bg);
    border-color: white;
}

.nav {
    --bs-nav-link-color: gray;
}

.nav-link:hover {
    color: white !important;
}

.button-header>svg {
    margin-left: 10px;
}

.font-style {
    font-family: "Tangerine", cursive;
    font-size: 4rem;
}

.row>.div-img {
    margin-top: 0px;
}

.height-div {
    max-height: 80vh;
}

.mleft {
    margin-left: 15vh;
}

.flex-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.img-maria {
    max-height: 70vh;
    filter: drop-shadow(20px 20px 15px blanchedalmond);
    overflow: hidden;
}

.card-cover {
    background-size: cover;
    font-size: 1.25rem;
}

.text-font {
    font-size: 2rem;
    color: white !important;
    text-shadow: 0px 0px 5px black;
}

.card-cover>div>h3 {
    transition: all 0.5s ease-out;
}

.card-cover:hover>div>h3 {
    color: var(--botao-bg) !important;
}

.carousel {
    width: 60%;
    margin: 0 auto;
    margin-top: var(--bs-gutter-y);
}

.altura-carrouseul {
    margin: 0 auto;
}

.iframe-cel {
    width: 100%;
}

.bg-body-form {
    background-color: rgba(255, 228, 196, 0.452);
}

.text-contato {
    text-align: center;
    font-family: "Tangerine", cursive;
    font-size: 3rem;
}

.botao-form {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--botao-bg);
    color: white;
    font-size: 1.25rem;
    transition: all 0.5s ease-out;
}

.botao-form:hover {
    background-color: var(--botao-hover);
}

.space {
    justify-content: space-evenly;
    margin-right: 0px;
    margin-left: 0px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bi-instagram {
    color: var(--botao-bg);
}


.whats {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.scrollreveal {
    visibility: hidden;
}


@media screen and (max-width: 775px) {
    .cel-col {
        height: 150px;
    }

    .flex-direction {
        flex-direction: column-reverse;
    }

    .mleft {
        margin: 30px 10px;
        width: 90%;
    }

    .lead{
        font-size: 15px;
        text-align: right;
    }

    .height-div {
        align-items: center;
        margin: 50px 0;
        height: auto;
    }

    .img-div-maria {
        width: 30%;
        justify-content: flex-start;
        overflow: hidden;
    }

    .carousel {
        width: 100%;
        margin-top: 2rem;
    }

    .altura-carrouseul {
        width: 100%;
    }

    .nav {
        display: block;
        text-align: center;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }


}